{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ title }}!{% endblock %}

{% block body %}
    <h1>Product List</h1>

    {% if products is empty %}
        <p>No products available.</p>
    {% else %}
        <ul>
            {% for product in products %}
                <li>
                    <h2>{{ product.title }}</h2>
                    <p>{{ product.description }}</p>
                    <p>Price: ${{ product.price }}</p>
                    <img src="{{ product.image_link }}" alt="{{ product.title }}">
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}